body {
	background-color: rgb(52, 50, 53) !important;
}

.search-bar {
	margin: 20px;
	text-align: center;
}

.search-bar input {
	width: 75%;
}

.video-item img {
	max-width: 64px;
}

.video-detail .details {
	border-radius: 4px;
	margin-top:10px;
	padding: 10px;
	border: 1px solid #ddd;
	background-color: white;
}

.list-group-item {
	cursor: pointer;
}

.list-group-item:hover {
	background-color: rgb(225, 38, 1);
}